{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="col-xs-12">
                    <h1>Enregistrez vous</h1>
                </div>
                {# {% form_theme formStag 'bootstrap_4_layout.html.twig' %} #}
                {{ form(formEnt) }}
            </div>
        </div>
    </div>

{% endblock %}