{% extends 'base.html.twig' %}

{% block body %}
 <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="col-xs-12">
                    <h1>faire une recherche</h1>
                </div>
                {% form_theme formSearching 'bootstrap_4_layout.html.twig' %}

                {{ form_start(formSearching) }}
                
                <label for="region">Sélectionner une région</label>
                <select name="region" id="SELregion">
                    {% for region in regions %}
                        <option value={{ region }}>{{ region }}</option>
                    {% endfor %}
                </select>
                <button role="button" type="submit" class="btn btn-primary btn-lg"><i class="fa fa-sign-in" aria-hidden="true"></i>Rechercher</button>

                {{ form_end(formSearching) }}
            </div>
        </div>
    </div>
{% endblock %}
