{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="col-xs-12">
                    <p>{{ stagiaire.id }}</p>
                    <p>{{ stagiaire.nom }}</p>
                    <p>{{ stagiaire.region }}</p>
                    {# <p>{{ stagiaire.date_debut}}</p> #}

                   </div>
                </div>
        </div>
    </div>

{% endblock %}